<h1>Buttons</h1>

<div class="buttons-example">
    <p>{{render '@button'}}</p>
    <p>{{render '@button' disabled merge=true}}</p>
    <p>{{render '@button' primary merge=true}}</p>
    <p>{{render '@button' secondary merge=true}}</p>
    <p>{{render '@button' cta merge=true}}</p>
    <p>{{render '@button' destructive merge=true}}</p>
</div>

